<?xml version="1.0"?>

<model>
  <name>TrafficCone</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Timothy Yong</name>
    <email>tyong@nvidia.com</email>
  </author>

  <description>
    For usage with the 2020 RC racetrack in NVIDIA
  </description>
</model>
