<?xml version="1.0"?>

<model>
  <name>rccar</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Timothy Yong</name>
    <email>tyong@nvidia.com</email>
  </author>

  <description>
    A sample rccar based on a DIY rccar which we are using - can be modified
  </description>
</model>
